{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1> contact us </h1>
    <form method="post">
        <div class = 'form-group'>
            {{form.name.label_tag}}
            <input type="text" class = 'form-control' name = '{{form.name.name}}'>
        </div>

        <div class = 'form-group'>
            {{form.email.label_tag}}
            <input type="email" class = 'form-control'  name = '{{form.email.name}}'>
        </div>

        <div class = 'form-group'>
            {{form.verify_email.label_tag}}
            <input type="email" class = 'form-control' name = '{{form.verify_email.name}}'>
        </div>

        <div class = 'form-group'>
            {{form.contact_num.label_tag}}
            <input type="text" class = 'form-control' name = '{{form.contact.name}}'>
        </div>

        <div class = 'form-group'>
            {{form.Message.label_tag}}
            <textarea class = 'form-control' name = '{{form.Message.name}}'></textarea>
        </div>
    
           
           {% csrf_token %}
           <input type="submit"  class = 'btn btn-primary'>

    </form>
{% endblock %}